<%- include("header") %>
<div class="serv">
     <ul>
         
          <div class="container">
               <div class="row">
                    <% arrOffCampus.reverse().forEach(function(offCampus){ %>
                    <li >
                         <div class="col-lg-4 col-md-6 col-sm-6" >
                              <div class="feature-thumb box-style" style="text-align: center;" >
                                   <span></span>
                                   <h3><%=offCampus.title%></h3>
                                   <h3>Job Description<p><%=offCampus.description%></p></h3>
                                   <h3>Last Date<p><%=offCampus.validity%></p></h3>
                                   <a style="margin-top: 2px;border-color: black;" class="apply-button" href="<%=offCampus.link%>">Apply</a>
                              </div>
                         </div>
                    </li>
                    <% }) %> 
      
               </div>    
          </div>
     </ul>
</div>

<%- include("footer") %>