<%- include("header") %>
<div class="serv">
     <ul>
         
          <div class="container">
               <div class="row">
                    <% arrOffCampus.forEach(function(offCampus){ %>
                    <li >
                         <div class="col-lg-4 col-md-6 col-sm-6" >
                              <div class="feature-thumb" style="text-align: center;" >
                                   <span></span>
                                   <h3>Company:<%=offCampus.title%></h3>
                                   <h3>Job Description:<%=offCampus.description%></h3>
                                   <h3>Last Date:<%=offCampus.validity%></h3>
                                   <h3>Apply: <a href="<%=offCampus.link%>"> Click me!</a></h3>
                              </div>
                         </div>
                    </li>
                    <% }) %> 
      
               </div>    
          </div>
     </ul>
</div>

<%- include("footer") %>