<%- include("header") %>
<div class="serv">
     <ul>
         
          <div class="container">
               <div class="row">
                    <% arrOffCampus.forEach(function(offCampus){ %>
                    <li >
                         <div class="col-md-4 col-sm-4" >
                              <div class="feature-thumb" >
                                   <span></span>
                                   <h3>Company:<%=offCampus.title%></h3>
                                   <h3>JD:<%=offCampus.description%></h3>
                                   <h3>Validity:<%=offCampus.validity%></h3>
                                   <h3>Link: <a href="<%=offCampus.link%>"> Click me!</a></h3>
                              </div>
                         </div>
                    </li>
                    <% }) %> 
      
               </div>    
          </div>
     </ul>
</div>

<%- include("footer") %>