<%- include("header") %>
<% if(appliedstatus && verified ) {%> 
<div class="serv">
     <ul>
          <div class="container">
               <div class="row">
                    <% arrOnCampus.forEach(function(onCampus){ %>
                         <li >
                              <div class="col-md-4 col-sm-4" >
                                   <div class="feature-thumb" >
                                        <span></span>
                                        <h3>Company:<%=onCampus.title%></h3>
                                        <h3>JD:<%=onCampus.description%></h3>
                                        <h3>Validity:<%=onCampus.validity%></h3>
                                        <h3>Link: <a href="<%=onCampus.link%>"> Click me!</a></h3>
                                   </div>
                              </div>
                         </li>
                         <% }) %> 
               </div>    
          </div>
     </ul>
</div>
<% }else if(appliedstatus==true && verified==false){ %>
     <section>
          <h1 style="text-align: center;">You will be verified soon by your college</h1>
     </section>
<% } else{ %>  
     <section style="margin: auto;width: 50%;" id="about">
          <div class="container">
               <div class="row">
                    <div class="col-md-offset-1 col-md-4 col-sm-12">
                         <div class="entry-form">
                              <form action="/verification" method="post">
                                   <h2>Get Verified First!</h2>
                                  <input type="text" name="collegename" class="form-control" placeholder="Your college Name" required="">
                                  <input type="text" name="roll" class="form-control" placeholder="Your roll number" required="">
                                  <input type="text" name="dept" class="form-control" placeholder="Your department name" required="">
                                   <button class="submit-btn form-control" id="form-submit">Verify by Admin</button>
                              </form>
                         </div>
                    </div>
      
               </div>
          </div>
      </section>
     <% } %> 

<%- include("footer") %>